[Unit]
Description=1Password

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/1password --silent
Restart=on-failure
RestartSec=60

[Install]
WantedBy=sway-session.target

